#header{
    background-color: rgb(245, 233, 227);
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
    box-shadow: 0 1px 4px rgba(0,0,0,.9);
}
.top-bar{
    display: flex;
    justify-content: space-between;
    padding: .75em;
    &-logo{
        margin-left: 1em;
        align-self: center;
    }
    &-nav ul{
        display: flex;
        li{
            padding: .5em .75em;
        }
    }
}
.sign-up{
    background-color: rgba(37, 138, 221, 0.774);
    border-radius: .3em;
    color: white;
    transition-property: background-color;
    &:hover{
        background-color: rgba(8, 125, 221, 0.993);
    }
}
